[submodule "bundle/pathogen"]
	path = bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/sensible"]
	path = bundle/sensible
	url = git://github.com/tpope/vim-sensible.git
[submodule "bundle/solarized"]
	path = bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "/home/rlm/.vim/bundle/vim-airline"]
	path = /home/rlm/.vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/quickfix-reflector"]
	path = bundle/quickfix-reflector
	url = https://github.com/stefandtw/quickfix-reflector.vim.git
[submodule "bundle/multiple-cursors"]
	path = bundle/multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "bundle/git-gutter"]
	path = bundle/git-gutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "bundle/commentary"]
	path = bundle/commentary
	url = git://github.com/tpope/vim-commentary.git
