snippet clog "console.log($1)"
console.log($1)$0
endsnippet

snippet clog" "console.log('$1')"
console.log("$1")$0
endsnippet

snippet fact
.factory '$1', ['$resource', ($resource) ->
	$resource('$2')
]$0
endsnippet


